/* App Styles */

// colors


// spaces
$size-xxxlarge: 3.750em;	// 60px
$size-xxlarge: 3.0em;
$size-xlarge: 2.0em;		// 32px
$size-large: 1.5em;		// 24px
$size-medium: 1.250em; 	// 20px
$size-normal: 1.0em; 		// 16px
$size-small: 0.5em;		// 8px

* {
	box-sizing: border-box;
}


body {
	margin: 0 auto;
	padding: 0;
	font-family: 'PT Mono', monospace;
	min-width: 600px;
	max-width: 1200px;
}

#container {
  	max-width: 940px;
  	padding: 0 5%;
  	margin: 0 auto;

  	h1 {
	  	margin: 0;
	}
}

table {


  	td {

		img {
			width: 80px;
			height: 80px;
			border-radius: 100%;
			display: inline-block;
		}

	}

}